#statusMessage {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#game {
    max-width: 1170px;
}

#userCommands {
    background-color: antiquewhite;
    border-radius: 4px;
}

#gameAndOutput, #player {
    overflow: auto;
}

#movesResults {
    overflow: auto;
}

.output {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}


.panel-body {
    padding: 5px;
}

.table {
    margin-bottom: 0px;
}

#rack, #controls {
    font-size: 30px;
    text-align: center;
}

    #rack p {
        overflow: auto;
        text-align: center;
    }

.grid-item {
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 1.6vw;
    text-align: center;
    float: left;
    min-height: 25px;
    max-width: 50px;
}

/*.board_chartile_letter, .board_rack_chartile_letter {
    /*font-size: 1.6vw;
}

.board_chartile_score, .board_rack_chartile_score {
    /*font-size: 0.9vw;
}*/

.moveRow {
    cursor: pointer;
}

.moveNumberEven {
    background-color: antiquewhite !important;
}

.moveNumberUneven {
    background-color: aliceblue !important;
}

.playerLog {
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.endResultsLog {
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.rowIndex {
    vertical-align: text-bottom;
}

.playerLog:hover {
    overflow-y: scroll;
}

@media(max-width:767px) {
    #board {
        padding-left: 0px;
        padding-right: 0px;
    }

    .board_chartile_letter, .board_rack_chartile_letter {
        font-size: 2.9vw;
    }

    .board_chartile_score, .board_rack_chartile_score {
        font-size: 11px;
    }
}

@media(min-width:768px) {
    #board {
        padding-left: 15px;
        padding-right: 15px;
    }

    .board_chartile_letter, .board_rack_chartile_letter {
        font-size: 1.9vw;
    }

    .board_chartile_score, .board_rack_chartile_score {
        font-size: 1.5vw;
    }
}

@media(min-width:992px) {


    .board_chartile_letter, .board_rack_chartile_letter {
        font-size: 1.9vw;
    }

    .board_chartile_score, .board_rack_chartile_score {
        font-size: 1.2vw;
    }
}

@media(min-width:1200px) {
    .board_chartile_letter, .board_rack_chartile_letter {
        font-size: 1.1vw;
    }

    .board_chartile_score, .board_rack_chartile_score {
        font-size: 0.7vw;
    }
}

.rack_chartile {
    font-size: 20px;
}

.btn-default, .btn-secondary, .btn-warning {
    border-color: black;
}

.btn-secondary {
    background-color: lightslategray;
}

.board_row {
    overflow: auto;
}

.board_rack_chartile {
    width: 100%;
    /*height: 100%;*/
    border-color: black;
    color: black;
    background-color: yellow;
    padding: 0 0 0 0;
    /*font-size: 18px;*/
}

.rack_chartile_score {
    font-size: 15px;
}

.currently-selected-tile {
    background-color: darkgray !important;
}

.currently-foreseen-tile {
    background-color: lightgray !important;
}
.anchor {
    background-color: lightgreen !important;
}

.locked {
    background-color: yellow !important;
}

.lockedNoColor {
    background-color: none;
}

.moveMarked {
    background-color: cadetblue !important;
}

.modal-dialog {
    overflow: auto;
    width: auto;
}

.Double_Letter {
    background-color: lightblue;
}

.Triple_Letter {
    background-color: royalblue;
}

.Double_Word {
    background-color: orange;
}

.Triple_Word {
    background-color: orangered;
}

.Start {
    background-color: plum;
}

.loadingSpinner {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('loading.gif') 50% 50% no-repeat;
}

#endResults {
    display: none;
}

body.loading .loadingSpinner {
    overflow: hidden;
}

body.loading .loadingSpinner {
    display: block;
}
