@model Scrabble.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="GameLanguage" class="control-label"></label>
                <select asp-for="GameLanguage" class="form-control"></select>
                <span asp-validation-for="GameLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RackSize" class="control-label"></label>
                <input asp-for="RackSize" class="form-control" />
                <span asp-validation-for="RackSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WordDictionaryID" class="control-label"></label>
                <select asp-for="WordDictionaryID" class="form-control" asp-items="ViewBag.WordDictionaryID"></select>
                <span asp-validation-for="WordDictionaryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardID" class="control-label"></label>
                <select asp-for="BoardID" class="form-control" asp-items="ViewBag.BoardID"></select>
                <span asp-validation-for="BoardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PouchID" class="control-label"></label>
                <select asp-for="PouchID" class="form-control" asp-items="ViewBag.PouchID"></select>
                <span asp-validation-for="PouchID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
